{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .form-control{
    margin:5px;
    }
</style>
<div class="text-center fs-2" style="background:#ffefe2;">
    <div class="text-center" style="background:#ffefe2;">
        Sign<b class="text-center txt-mycolor">Up</b>
    </div>
</div>
<div class="row" style="background:#ffefe2;">
    <div class="col-sm-6 mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Name<input type="text" required name="name" placeholder="Name" class="form-control">
            Email<input type="text" required name="email" placeholder="Email" class="form-control">
            Password<input type="text" required name="passwd" placeholder="Password" class="form-control">
            Picture<input type="file" required name="fu" class="form-control">
            Address<textarea class="form-control" onresize="none" name="address"></textarea><br>
            <input type="submit" value="Save" class="btn bg-mycolor text-light">
        </form>
    </div>
</div>
{% endblock %}